@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tienda de Barrio</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bienvenidos a mi tienda</h2>
        <p>
            Puppis, Pet Shop especializada en productos y servicios para mascotas.
            Encuentra el más amplio catálogo de productos para perros, gatos, aves, roedores, y peces.
            Contamos con la más amplia variedad en alimento para tu mascota, accesorios, farmacia, juguetes
            y servicios experimentados como veterinaria y peluquería, mascotas para adopción y mucho más.


        </p>
    </div>
    <div class="col-md-4">
        <h2>Promociones</h2>
        <p>¡Completa tus datos y recibe tu cupón de 10% OFF en tu primera compra!</p>
        <p><a class="btn btn-default" href="#">Conoce más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>Descarga nuestro catalogo</p>
        <p><a class="btn btn-default" href="#">Download &raquo;</a></p>
    </div>
</div>